body {
    background-color: #FBF4D8;
}
#container {
    width: 980px;
    margin: auto;
    background-color: #60B3E7;
}
#header {
    width: 980px;
    height: 280px;
    background-color: #7AC7F5;
    background-image: url("Banner.jpg");
    background-size: 100% 100%;
}
#nav {
    width: 980px;
    height: 25px;
    background: #7AC7F5;
    border-style: none;
    text-align: center;
    margin: auto;
}
#nav a {
    color: #FBF4D8;
    text-decoration: none;
    padding: 5px 10px  5px 10px;
}
#content {
    width: 950px;
    height: auto;
    background-color: #60B3E7;
    padding: 10px 15px 10px 15px;
}
h1 {
    color: #FBF4D8;
    text-align: center;
    text-decoration: underline;
}
h2 {
    color: #FBF4D8;
    text-decoration: underline;
    text-align: center;
}
P {
    color: #FBF4D8;
    font-family: Arial;
    font-size: 15px;
    text-align: center;		
}
#footer {
width: 980px;
height: 70px;
margin: auto;
background-color: #7AC7F5;
padding-top: 30px;
}
#footer P{
color: #FBF4D8;
text-align: center;
}